@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}

body {
  padding: 1rem 4rem;
}

.landing-page nav {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}

.landing-page h1 {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding-top: 8rem;
}

.landing-page h2 {
    font-size: 1.75rem;
    font-weight: 900;
}

.landing-page input {
    border: 1px solid #888;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.landing-page .find-or-share {
    margin-top: 6rem;
    display: flex;
    max-width: 10rem;
    margin: auto;
}