@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --a: #dad7cd;
 --b: #a3b18a;
 --c: #588157;
 --d: #3A5A40;
 --e: #344E41;
 --darkgreen: #344E41;
}

body {
  padding: 1rem 4rem;
}
